body {
    background-image: url(../img/fondo_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

table {
    margin: 0 auto;
    border: 4px solid black;
    border-collapse: collapse;
    text-align: center;
}
th {
    padding: 15px;
}
table tr th {
    background-color: aqua;
    color:black;
}
table tr:nth-child(odd) td{
    background-color:antiquewhite ;
    color: black;
}

table tr:nth-child(even) td {
    background-color: aliceblue;
}


